/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster+Two&family=Poppins&display=swap');

body{
    margin: 0 10%;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #161616;
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}
.header-section{
    display: flex;
}
.title-section{
    width: 50%;
    margin: 100px 80px;
}
.title-section h1{
    color: white;
    font-size: 4em;
    margin: 0;
    padding: 0;
    line-height: 90px
}
.title-section p{
    color:white;
    padding-bottom: 25px;
}
.title-section a{
    text-decoration: none;
    color: white;
    background-color: #e9450e;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    animation: live 1.5s infinite;
}
@keyframes live {
    from {color: white;}
    to {color: black;}
}
.fa-greater-than{
    font-size: 25px;
}
.img-section{
    width: 40%;
    padding-right: 120px;
}
.img-section img{
    width: 120%;
    height: 92%;
    margin-top: 50px;
}

main{
    margin-top: 50px;
}
.content-section{
    display: grid;
    grid-template-columns: 350px 1fr;
}
.sidebar{
    background-color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 40px 10px 65px 10px;
}
.sidebar-item{
    background-color: white;
    margin: 20px;
    padding: 10px 0;
    border-radius: 5px;
}
.sidebar-item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}
.selected{
    background-color: #e9450e;
}
.selected a{
    color: white;
}
@media (min-width: 768px) and (max-width: 991px) {
    .title-section h1{
        font-size: 3em;
        line-height: 1em;
    }
    .title-section a{
        font-size: 25px;
    }
    .button{
        text-decoration: none;
        background-color: #e9450e;
        color:white;
        font-size: 30px;
        font-weight: 500;
        padding: 10px 25px;
        border-radius: 5px;
        margin-left: 40%;
        display: inline-block !important;
    }
    .content-section{
        grid-template-columns: 1fr !important;
    }
    .sidebar{
        margin: 0 auto 30px auto;
        background: none;
        display: flex;
        width: auto;
        height: auto;
    }
    .sidebar-item{
        border: 1px solid black;
        padding: 5px 20px;
    }
    .blog-section{
        grid-template-columns: 1fr 1fr !important;
    }
}
@media (min-width: 200px) and (max-width: 767px) {
    .header-section{
        width: 100%;
        display: block;
    }
    .title-section{
        width: auto;
    }
    .title-section h1{
        font-size: 2em;
        line-height: 1em;
        padding-top: 40px;
    }
    .title-section p{
        font-size: 1em;
    }
    .title-section a{
        font-size: 1em;
    }
    .fa-greater-than{
        font-size: 15px;
    }
    .button{
        display: none;
    }
    .img-section{
        width: 100%;
        height: 200px;
    }
    .img-section img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .content-section{
        grid-template-columns: 1fr !important;
    }
    .sidebar{
        margin: 0 auto 30px auto;
        background: none;
        width: auto;
        height: auto;
    }
    .sidebar-item{
        border: 1px solid black;
        padding: 5px 20px;
    }
    .blog-section{
        grid-template-columns: 1fr !important;
        align-items: center;
    }
    .footer-nav ul:first-child{
        flex-direction: column;
        text-align: center;
    }
    footer{
        padding-bottom: 50px;
    }
}
.blog-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.blog{
    width: 90%;
    margin-bottom: 40px;
}
.blog img{
    width: 100%;
}
.blog a{
    color:black;
    text-decoration: none;
}
.tag{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
}
.fa-comment-dots{
    margin-left: 20px;
}
.button{
    display: none;
}
.match img{
    width: 80px;
    height: 50px;
    margin-top: 50px;
}
.match span{
    margin-bottom: 20px;
}
.match{
    text-align: center;
    border: 1px solid black;
}
footer{
    width: 100%;
    height: 450px;
    background-color: #161616;
}
.footer-section{
    width: 80%;
    margin: 0 auto;
}
.footer-title h1{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    font-weight: 400;
}
hr{
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
}
.footer-nav ul li a{
    margin: 20px 30px 20px 0;
    color: #B9B9B9;
    text-decoration: none;
}
.footer-nav i{
    font-size: 25px;
}